###########
# Azure IoT SDK C
###########

# Catch all for whole project
* @CIPop @danewalton @ericwol-msft @ewertons @jspaith @preethi826 @vaavva

# README Files
*.md @CIPop @danewalton @ericwol-msft @ewertons @jspaith @preethi826 @vaavva @wduraes
