###########
# Azure IoT SDK C
###########

# Catch all for whole project
* @CIPop @danewalton @ericwol-msft @ewertons @jspaith @josesanchez7 @preethi826 @RLeclair @vaavva

# README Files
*.md @CIPop @danewalton @ericwol-msft @ewertons @jspaith @josesanchez7 @preethi826 @RLeclair @vaavva @wduraes
