[submodule "azure-c-shared-utility"]
	path = c-utility
	url = https://github.com/Azure/azure-c-shared-utility.git
[submodule "azure-umqtt-c"]
	path = umqtt
	url = https://github.com/Azure/azure-umqtt-c.git
[submodule "azure-uamqp-c"]
	path = uamqp
	url = https://github.com/Azure/azure-uamqp-c.git
[submodule "deps/parson"]
	path = deps/parson
	url = https://github.com/kgabis/parson.git
[submodule "deps/uhttp"]
	path = deps/uhttp
	url = https://github.com/Azure/azure-uhttp-c.git
[submodule "provisioning_client/deps/RIoT"]
	path = provisioning_client/deps/RIoT
	url = https://github.com/Microsoft/RIoT.git
[submodule "provisioning_client/deps/utpm"]
	path = provisioning_client/deps/utpm
	url = https://github.com/Azure/azure-utpm-c.git
[submodule "deps/azure-macro-utils-c"]
	path = deps/azure-macro-utils-c
	url = https://github.com/Azure/azure-macro-utils-c.git
[submodule "deps/azure-c-testrunnerswitcher"]
	path = deps/azure-c-testrunnerswitcher
	url = https://github.com/Azure/azure-c-testrunnerswitcher.git
[submodule "deps/azure-ctest"]
	path = deps/azure-ctest
	url = https://github.com/Azure/azure-ctest.git
[submodule "deps/c-build-tools"]
	path = deps/c-build-tools
	url = https://github.com/Azure/c-build-tools.git
[submodule "deps/macro-utils-c"]
	path = deps/macro-utils-c
	url = https://github.com/Azure/macro-utils-c.git
[submodule "deps/c-logging"]
	path = deps/c-logging
	url = https://github.com/Azure/c-logging.git
[submodule "deps/ctest"]
	path = deps/ctest
	url = https://github.com/Azure/ctest.git
[submodule "deps/c-testrunnerswitcher"]
	path = deps/c-testrunnerswitcher
	url = https://github.com/Azure/c-testrunnerswitcher.git
[submodule "deps/azure-messaging-ai-context"]
	path = deps/azure-messaging-ai-context
	url = https://github.com/Azure/azure-messaging-ai-context.git
[submodule "deps/umock-c"]
	path = deps/umock-c
	url = https://github.com/Azure/umock-c.git
